In [1]:
import pandas as pd

In [2]:
df = pd.read_json('https://data.ny.gov/resource/wujg-7c2s.json?$query=SELECT%0A%20%20sum(%60ridership%60)%20AS%20%60sum_ridership%60%2C%0A%20%20%60borough%60%2C%0A%20%20%60latitude%60%2C%0A%20%20%60longitude%60%2C%0A%20%20%60station_complex_id%60%2C%0A%20%20%60station_complex%60%0AWHERE%0A%20%20%60transit_timestamp%60%0A%20%20%20%20BETWEEN%20%222024-01-01T00%3A00%3A00%22%20%3A%3A%20floating_timestamp%0A%20%20%20%20AND%20%222024-10-01T15%3A50%3A52%22%20%3A%3A%20floating_timestamp%0AGROUP%20BY%0A%20%20%60station_complex_id%60%2C%0A%20%20%60station_complex%60%2C%0A%20%20%60borough%60%2C%0A%20%20%60latitude%60%2C%0A%20%20%60longitude%60')
df.head()

,sum_ridership,borough,latitude,longitude,station_complex_id,station_complex
0,2417717,Queens,40.775036,-73.912030,1,"Astoria-Ditmars Blvd (N,W)"
1,4549642,Manhattan,40.759900,-73.984140,10,"49 St (N,R,W)"
2,483744,Brooklyn,40.706870,-73.953430,100,"Hewes St (M,J)"
3,2077714,Brooklyn,40.708360,-73.957756,101,"Marcy Av (M,J,Z)"
4,635636,Manhattan,40.720280,-73.993910,103,"Bowery (J,Z)"

In [ ]:
df = df[['station_complex_id','station_complex','borough','latitude','longitude','sum_ridership']]
df = df.rename(columns={'station_complex_id':'station_id', 'station_complex':'station'})
df.columns = df.columns.str.upper()
df.head()

In [ ]:
df.to_csv('streamlit_app\data\mta_cleaned_data.csv',index=False)