In [2]:
import pandas as pd
import seaborn as sns
import plotly.express as px
from skimpy import skim

In [11]:
df = pd.read_json('https://data.ny.gov/resource/jsu2-fbtj.json?$query=SELECT%0A%20%20%60year%60%2C%0A%20%20%60month%60%2C%0A%20%20%60day_of_week%60%2C%0A%20%20%60hour_of_day%60%2C%0A%20%20%60timestamp%60%2C%0A%20%20%60origin_station_complex_id%60%2C%0A%20%20%60origin_station_complex_name%60%2C%0A%20%20%60origin_latitude%60%2C%0A%20%20%60origin_longitude%60%2C%0A%20%20%60destination_station_complex_id%60%2C%0A%20%20%60destination_station_complex_name%60%2C%0A%20%20%60destination_latitude%60%2C%0A%20%20%60destination_longitude%60%2C%0A%20%20%60estimated_average_ridership%60%2C%0A%20%20%60origin_point%60%2C%0A%20%20%60destination_point%60%0AORDER%20BY%20%60timestamp%60%20DESC%20NULL%20LAST')
df.head()

,year,month,day_of_week,hour_of_day,timestamp,origin_station_complex_id,origin_station_complex_name,origin_latitude,origin_longitude,destination_station_complex_id,destination_station_complex_name,destination_latitude,destination_longitude,estimated_average_ridership,origin_point,destination_point
0,2024,8,Sunday,23,2024-08-11 23:00:00,5,"36 Av (N,W)",40.756804,-73.929575,359,"Flatbush Av-Brooklyn College (2,5)",40.632836,-73.947642,1.2465,"{'type': 'Point', 'coordinates': [-73.929575, ...","{'type': 'Point', 'coordinates': [-73.947642, ..."
1,2024,8,Sunday,23,2024-08-11 23:00:00,236,"Bergen St (F,G)",40.686145,-73.990862,234,East Broadway (F),40.713715,-73.990173,0.3088,"{'type': 'Point', 'coordinates': [-73.99086199...","{'type': 'Point', 'coordinates': [-73.990173, ..."
2,2024,8,Sunday,23,2024-08-11 23:00:00,452,90 St-Elmhurst Av (7),40.748408,-73.876613,464,Vernon Blvd-Jackson Av (7),40.742626,-73.953581,0.3375,"{'type': 'Point', 'coordinates': [-73.876613, ...","{'type': 'Point', 'coordinates': [-73.953581, ..."
3,2024,8,Sunday,23,2024-08-11 23:00:00,618,"14 St (A,C,E)/8 Av (L)",40.740335,-74.002134,316,50 St (1),40.761728,-73.983849,0.2788,"{'type': 'Point', 'coordinates': [-74.002134, ...","{'type': 'Point', 'coordinates': [-73.983849, ..."
4,2024,8,Sunday,23,2024-08-11 23:00:00,613,"Lexington Av (N,R,W)/59 St (4,5,6)",40.762593,-73.967613,110,Forest Av (M),40.704423,-73.903077,0.5518,"{'type': 'Point', 'coordinates': [-73.967613, ...","{'type': 'Point', 'coordinates': [-73.903077, ..."

In [12]:
df.columns

Index(['year', 'month', 'day_of_week', 'hour_of_day', 'timestamp',
       'origin_station_complex_id', 'origin_station_complex_name',
       'origin_latitude', 'origin_longitude', 'destination_station_complex_id',
       'destination_station_complex_name', 'destination_latitude',
       'destination_longitude', 'estimated_average_ridership', 'origin_point',
       'destination_point'],
      dtype='object')

In [13]:
df = df[['timestamp','origin_station_complex_id', 'origin_station_complex_name','origin_latitude', 
         'origin_longitude', 'destination_station_complex_id','destination_station_complex_name', 
         'destination_latitude','destination_longitude', 'estimated_average_ridership',]]
df.head()

,timestamp,origin_station_complex_id,origin_station_complex_name,origin_latitude,origin_longitude,destination_station_complex_id,destination_station_complex_name,destination_latitude,destination_longitude,estimated_average_ridership
0,2024-08-11 23:00:00,5,"36 Av (N,W)",40.756804,-73.929575,359,"Flatbush Av-Brooklyn College (2,5)",40.632836,-73.947642,1.2465
1,2024-08-11 23:00:00,236,"Bergen St (F,G)",40.686145,-73.990862,234,East Broadway (F),40.713715,-73.990173,0.3088
2,2024-08-11 23:00:00,452,90 St-Elmhurst Av (7),40.748408,-73.876613,464,Vernon Blvd-Jackson Av (7),40.742626,-73.953581,0.3375
3,2024-08-11 23:00:00,618,"14 St (A,C,E)/8 Av (L)",40.740335,-74.002134,316,50 St (1),40.761728,-73.983849,0.2788
4,2024-08-11 23:00:00,613,"Lexington Av (N,R,W)/59 St (4,5,6)",40.762593,-73.967613,110,Forest Av (M),40.704423,-73.903077,0.5518

In [14]:
df.dtypes

timestamp                           datetime64[ns]
origin_station_complex_id                    int64
origin_station_complex_name                 object
origin_latitude                            float64
origin_longitude                           float64
destination_station_complex_id               int64
destination_station_complex_name            object
destination_latitude                       float64
destination_longitude                      float64
estimated_average_ridership                float64
dtype: object

In [15]:
df['timestamp'].unique()

<DatetimeArray>
['2024-08-11 23:00:00']
Length: 1, dtype: datetime64[ns]